.sidebar {
	position:absolute;
}

svg {
	position:relative;
	margin-bottom: 30px;
}

#county_readout,
#county_readout_filler {
	font-size: 1.5em;
	font-family: Helvetica;
	margin-top: 45px;
}	

#county_readout_filler {
	font
	color:#CCCCCC;
}	

.hidden {
	display:none;
}

#map_header {
	font-family: Helvetica;
	font-size: 2em;
}

#map_header {
	display: block;
}

#legend {
	font-family: Helvetica;
	position: absolute;
	left: -25px;
}

#legend div {
	display: inline;
	width:15px;
	height:15px;
	position:absolute;
	top: 2px;
}

#legend p {
	font-size: 1em;
	display: inline;
	padding-left: 20px;
}

#legend li {
	float: left;
	list-style-type: none;
	margin-right: 20px;
}

#low {
	background-color:#fee5d9;
}

#moderate {
	background-color:#fcae91;
}

#high {
	background-color:#fb6a4a;
}

#very-high {
	background-color:#de2d26;
}

#severe {
	background-color:#a50f15;
}

input {
	display: none;
}

label {
	padding-right: 30px;
	cursor:pointer;
	color:#BBBBBB;
}

label:hover {
	cursor: pointer;
	color: #000000;
}

input:checked + label {
	color: #000000;
}