.sidebar {
	position:absolute;
}

svg {
	position:relative;
	margin-bottom: 30px;
}

#county_readout,
#county_readout_filler {
	font-size: 1.5em;
}	

#county_readout_filler {
	color:#CCCCCC;
}	

.hidden {
	display:none;
}

#map_header {
	font-family: Helvetica;
	font-size: 2em;
}

#map_header span {
	padding-right: 30px;
	cursor:pointer;
	color:#CCCCCC;
}

.swatch {
	width:15px;
	height:15px;
	position:absolute;
	display: inline;
}

#legend {
	font-family: Helvetica;
	margin-top: 30px;
}

#legend p {
	position:relative;
	left:27px;
	top:2px;
	font-size: .65em;
	display: inline;
}

#low {
	background-color:#fee5d9;
}

#moderate {
	background-color:#fcae91;
}

#high {
	background-color:#fb6a4a;
}

#very-high {
	background-color:#de2d26;
}

#severe {
	background-color:#a50f15;
}