<script type="text/html" id="contact_tmpl">
    <div class="col-md-12">
        <div class="back_button">< Back</div>
    </div>
    <div class="col-md-12" id="contact_header"><h4><%=header%></h4></div>
    <div class="col-md-12">
        <input type="text" rows="100" id="comments_email" placeholder="you@example.com"></input>
    </div>
    <div class="col-md-12">
        <textarea id="comments_text" placeholder="leave your comments here"></textarea>
    </div>
    <div class="col-md-2">
        <button id="comments_submit" onclick="portfolio.submitComments()" class="accent-1">Submit</button>
    </div>
    <div class="col-md-6" id="contact_message"></div>
</script>