<script type="text/html" id="homepage_tmpl">
	<div id="name-header" class="col-md-12">Hello, my name is <strong class="accent-1">Trevor</strong>.</div>
	<div id="homepage-desc" class="col-md-9">
		<div>I\'m a <strong>front-end web developer</strong>, <strong>designer</strong>, and recent <strong>Seattle transplant</strong>. I enjoy researching, designing, and building systems that help people make sense of complex information.</div>
		<div>Combining techincal and design skills with a background in community development, I\'m especially excited about the rising interest in civic technology.</div>
		<div>I'm equally motivated by the need for intuitive tools for making sense of data and the excitement of learning new technologies and building things.</div>
		<div>Have a look at some <strong><a href="#projects">projects</a></strong>, or feel free to <strong><a href="#contact">contact me</a></strong>.</div>
	</div>
	<div class="col-md-3" id="pic">
		<img id="me" src="img/tractor7.png" width="150px" />
	</div>
</script>
