<script type="text/html" id="homepage_tmpl">
	<div id="name-header" class="col-md-12">Hi, my name is <strong class="accent-1">Trevor</strong>.</div>
	<div id="homepage-desc" class="col-md-9">
		<div>I\'m <strong class="hoverable-surprise" id="developer">web developer</strong> and recent <strong class="hoverable-surprise" id="seattle">Seattle transplant</strong>, with an interest in civic technology.</div>
		<div>I wasn\'t always a web developer. First I was an <strong class="hoverable-surprise" id="farmer"><a href="http://www.growpittsburgh.org/what-we-do/farm-sites/braddock-farms/" target="_blank">urban farm volunteer</a></strong>, then a <strong class="hoverable-surprise" id="urban"><a href="http://braddockredux.org/" target="_blank">community developer</a></strong> and <strong class="hoverable-surprise" id="youth"><a href="http://braddockyouth.org/" target="_blank">youth mentor</a></strong>, then a <strong class="hoverable-surprise" id="coro"><a href="http://www.coropittsburgh.org/" target="_blank">public affairs fellow</a></strong>, and then a <strong class="hoverable-surprise" id="graduate"><a href="https://www.si.umich.edu/" target="_blank">graduate student</strong></a>.</div>
		<div>I'm equally motivated by the need for intuitive tools for making sense of data, the potential for data-driven approaches to civic challenges, and the excitement of learning new technologies and building things.</div>
		<div>Have a look at some <strong><a href="#projects">projects</a></strong>, or feel free to <strong><a href="#contact">contact me</a></strong>.</div>
	</div>
	<div class="col-md-3" id="pic">
		<img id="me" src="img/tractor7.png" width="150px" />
	</div>
</script>
