<script type="text/html" id="map_tmpl">

	<div class="col-md-12">
		<p class="back_button">< Back</p>
	</div>
	<div class="col-md-12">
		<div id="map_header">
			<span id="2004" class="map_ctrl">2004</span>
			<span id="2005" class="map_ctrl">2005</span>
			<span id="2006" class="map_ctrl">2006</span>
			<span id="2007" class="map_ctrl">2007</span>
			<span id="2008" class="map_ctrl">2008</span>
			<span id="2009" class="map_ctrl">2009</span>
		</div>
	</div>

	<div id="legend">
		<div class="swatch" id="low"></div>
			<p>0 - 19.4% obesity</p>
		<div class="swatch" id="moderate"></div>
			<p>19.5% - 23.8% obesity</p>
		<div class="swatch" id="high"></div>
			<p>23.9% - 27.0% obesity</p>
		<div class="swatch" id="very-high"></div>
			<p>27.1% - 30.7% obesity</p>
		<div class="swatch" id="severe"></div>
			<p>30.8%+ obesity</p>
	</div>	

	<div id="county_readout_filler">Hover over a county below:</div>
	<div id="county_readout" class="hidden">
		<span id="county">Some County</span> County, <span id="state">State</span>: <span id="obesity_rate">0</span>% obesity rate
	</div>
	<div id="map_container"></div>

	<% portfolio.loadScript("js/map_ctrl.js", function(){}); %>
	   
</script>